main {
  padding:0;
  margin:0;
}

#greeting {
  font-family: Courier, 'Open Sans', sans-serif;
  overflow:hidden;
  width: 250px;
  font-size: 16px;
  margin: 1px;
}

#table {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  display:table}